USE [master]
GO
/****** Object:  Database [HelpDesk]    Script Date: 23/11/2016 14:12:54 ******/
CREATE DATABASE [HelpDesk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HelpDesk', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\HelpDesk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HelpDesk_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER2016\MSSQL\DATA\HelpDesk_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HelpDesk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HelpDesk]
GO
USE [HelpDesk]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 23/11/2016 14:12:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id] [uniqueidentifier] NOT NULL,
	[RequestTypeId] [tinyint] NOT NULL,
	[Header] [nvarchar](50) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequestType]    Script Date: 23/11/2016 14:12:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestType](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RequestType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Response]    Script Date: 23/11/2016 14:12:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Response](
	[Id] [uniqueidentifier] NOT NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[Header] [nvarchar](50) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Response] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 23/11/2016 14:12:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](3000) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Request] ([Id], [RequestTypeId], [Header], [Body], [UserId]) VALUES (N'5e877d46-e969-4b31-9012-11815aca54ab', 8, N'Test Request', N'Body text for test request', N'20ba417b-8e37-472b-b1fb-a5caccb51b0d')
GO
INSERT [dbo].[Request] ([Id], [RequestTypeId], [Header], [Body], [UserId]) VALUES (N'b1c50644-3852-44cd-b13d-46d44f04750d', 8, N'Test Request', N'Body text for test request', N'20ba417b-8e37-472b-b1fb-a5caccb51b0d')
GO
INSERT [dbo].[Request] ([Id], [RequestTypeId], [Header], [Body], [UserId]) VALUES (N'a2bcf7f3-4cb1-4a36-a7e5-ac0d37987535', 8, N'Test Request', N'Body text for test request', N'20ba417b-8e37-472b-b1fb-a5caccb51b0d')
GO
SET IDENTITY_INSERT [dbo].[RequestType] ON 

GO
INSERT [dbo].[RequestType] ([Id], [Name]) VALUES (8, N'Incident')
GO
INSERT [dbo].[RequestType] ([Id], [Name]) VALUES (9, N'Bug')
GO
INSERT [dbo].[RequestType] ([Id], [Name]) VALUES (10, N'Change Request')
GO
SET IDENTITY_INSERT [dbo].[RequestType] OFF
GO
INSERT [dbo].[Response] ([Id], [RequestId], [Header], [Body], [UserId]) VALUES (N'98624c07-b188-4f5a-a3ae-00c9d7ebc463', N'5e877d46-e969-4b31-9012-11815aca54ab', N'Bulk insert test', N'Bulk insert test for responses', N'20ba417b-8e37-472b-b1fb-a5caccb51b0d')
GO
INSERT [dbo].[Response] ([Id], [RequestId], [Header], [Body], [UserId]) VALUES (N'2edc779a-d0d2-4e25-b91f-00e1ed24e6db', N'5e877d46-e969-4b31-9012-11815aca54ab', N'Bulk insert test', N'Bulk insert test for responses', N'20ba417b-8e37-472b-b1fb-a5caccb51b0d')
GO
INSERT [dbo].[Response] ([Id], [RequestId], [Header], [Body], [UserId]) VALUES (N'3a31134d-dfcb-4ff8-bd26-00e8cf95f9fa', N'5e877d46-e969-4b31-9012-11815aca54ab', N'Bulk insert test', N'Bulk insert test for responses', N'20ba417b-8e37-472b-b1fb-a5caccb51b0d')
GO
INSERT [dbo].[User] ([Id], [FullName], [Email], [Password], [IsActive]) VALUES (N'20ba417b-8e37-472b-b1fb-a5caccb51b0d', N'Emre Gulay', N'emre.gulay@gmail.com', N'none', 1)
GO
ALTER TABLE [dbo].[Request]  WITH NOCHECK ADD  CONSTRAINT [FK_Request_RequestType] FOREIGN KEY([RequestTypeId])
REFERENCES [dbo].[RequestType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_RequestType]
GO
ALTER TABLE [dbo].[Request]  WITH NOCHECK ADD  CONSTRAINT [FK_Request_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_User]
GO
ALTER TABLE [dbo].[Response]  WITH NOCHECK ADD  CONSTRAINT [FK_Response_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Request] ([Id])
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_Request]
GO
ALTER TABLE [dbo].[Response]  WITH NOCHECK ADD  CONSTRAINT [FK_Response_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_User]
GO
/****** Object:  StoredProcedure [dbo].[spGetResponsesByRequestId]    Script Date: 23/11/2016 14:12:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetResponsesByRequestId] @requestId uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [dbo].[Response]
	WHERE [RequestId] = @requestId
END





GO
USE [master]
GO
